@font-face {
    font-family: 'Sofia-Regular';
    src: url('/static/shop/css/font/Sofia-Regular.ttf');
}
body {
    font-family: 'Sofia-Regular';
    background-color: rgb(4, 72, 72);
    padding: 10px;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container-item {
    height: 500px;
    width: 500px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    cursor: pointer;
    transition: transform .5s;
}
.container-item:hover {
    transform: scale(1.05);
}
.container-item img {
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}
.container-item .prod_desc {
    padding: 20px;
}