@font-face {
    font-family: 'Sofia-Regular';
    src: url('/static/font/Sofia-Regular.ttf');
}
body {
    font-family: 'Sofia-Regular';
    background-color: rgb(255, 168, 62);
    padding: 1%;
}
/* .filters {
    width: 30vw;
    position: absolute;
    top: 10%;
    left: 0;
    background-color: aqua;
    z-index: 0;
} */
