{% load static %}
{% block navbar %}
    <div class="navbar">
        <span class='navbar-logo' onclick="location.href = '/'">
            <img src="{% static 'images/logo.jpg' %}" alt="Shoppin Logo">
        </span>
        <span class='navbar-search'>
            <input type="text" placeholder='Search for products' autocomplete='off'>
        </span>
        {% for menu in menus %}
            {% if  menu.child %}
                <div class='navbar-item'  onclick="location.href = '/{{menu.parent|lower}}'">
                    {{menu.parent}}
                    <div class="menu-options">
                        {% for item in  menu.child%}
                            <span class='menu-options-item' value="{{item.id}}">{{item.name}}</span>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <span class='navbar-item'  onclick="location.href = '/{{menu.parent|lower}}'">
                    {{menu.parent}}
                </span>
            {% endif %}
            
        {% endfor %}
        {% comment %} <span class='navbar-item'  onclick="location.href = '/products'">
            Products
        </span>
        <span class='navbar-item'  onclick="location.href = '/categories'">
            Categories
        </span>
        <span class='navbar-item'  onclick="location.href = '/offers'">
            Offers
        </span>
        <span class='navbar-item'  onclick="location.href = '/gallery'">
            Gallery
        </span>
        <span class='navbar-item'  onclick="location.href = '/blogs'">
            Blogs
        </span> {% endcomment %}
        <span class="material-symbols-outlined navbar-icon" onclick="location.href = '/profile'">
            person
        </span>
        <span class="material-symbols-outlined navbar-icon" onclick="location.href = '/profile'">
            favorite
        </span>
        <span class="material-symbols-outlined navbar-icon" onclick="location.href = '/profile'">
            shopping_cart
        </span>
    </div>
   
{% endblock navbar %}