{% extends "base.html" %}
{% block page_content %}
        <div class="container">
            <div class="product-filters">
                <h4>Filters</h4>
                {% for category in categories %}
                    <label class="category">
                        <input type="radio" id="{{category.id}}" value="{{category.id}}" name="category" onchange="location.href = '?category={{category.id}}'">{{category.name}}
                    </label>
                {% endfor %}
            </div>
            <div class="product">
                {% for product in products %}
                <div class='container-item'>
                    <img src="{{product.image.url}}" alt="{{product.name}}">
                    <div class="prod_desc">
                        <h1>
                            {{product.name}}
                        </h1>
                        <h4>
                            {{product.category}}
                        </h4>
                        <span class='price'>
                            <b>₹ {{product.price}}</b>
                        </span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <script>
            // JavaScript to handle deselect option
            const radioButtons = document.querySelectorAll('input[type="radio"][name="category"]');
            var category = String("{{ category }}");
            console.log(category)
            const select = document.getElementById(category);
            select.checked = true;
        </script>
{% endblock page_content %}
